<h3>Choose the zip file of your data</h3>
  <input type="file" id="file" name="file"/><br />
  <div id="result_block" class="hidden">
    <div id="result"></div>
  </div>
  <button id="graph_button" type="button" style="display:none">Generate Graphs</button>
  <div id="graphs_block" style="display:none">
    <div id="container_1" style="width: 100%;">
  		<canvas id="canvas_1"></canvas>
  	</div>
    <div id="container_2" style="width: 100%;">
      <canvas id="canvas_2"></canvas>
    </div>


  </div>
  <div style="display:none">
  <canvas id="chart1" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
</div>
