body {
    font: 10pt sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.input {
	font-size: 14pt;
	margin: 5px;
}

p.input {
	text-align: center;
}

label {
	display: inline-block;
	text-align: right;
}
